.accueilRow {
  position: relative;
}

.form-connexion {
  position: absolute;
  left: 12%;
  background: rgb(226, 63, 48);
  background: linear-gradient(
    90deg,
    rgba(226, 63, 48, 1) 0%,
    rgba(251, 232, 218, 1) 23%,
    rgba(255, 255, 255, 1) 65%
  );
}

.sideBar {
  background-image: url(../Assets/SideBarAccueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBackground {
  background-image: url(../Assets/MainAccueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSideBar {
  background-image: url(../Assets/sideBarMain.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.updatePage {
  background-image: url(../Assets/updateBackground.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% 100vh;
  max-height: 100vh;
}
.nav-item {
  font-weight: bold;
}
.nav-link {
  color: black;
}
.updatePosition {
  top: 20%;
  left: 40%;
}
.tabSize {
  max-height: 80vh;
}

.profileBanner {
  min-height: 200;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imgProfile {
  top: 50%;
  left: 10%;
  width: 20%;
}
.imgBanniereBtn {
  top: 88%;
  left: 94%;
}
.imgProfileBtn {
  top: 105%;
  left: 25%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.profileText {
  border-bottom: 1px solid black;
  padding-bottom: 2%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -5px;
}

.boldText {
  font-weight: bold;
}

@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }

  .navbar {
    width: 28%;
    height: 100vh;
    align-items: flex-start;
  }

  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
  }

  form input {
    margin-bottom: 0.7em;
  }
}

@media screen and (min-width: 385px) and (max-width: 576px) {
  .logoAccueil {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (max-width: 576px) {
  .form-connexion {
    left: 17.5%;
    width: 65%;
  }

  .profileBanner {
    min-height: 50;
  }
}

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  100: 100%,
);
