<body>
	{% set var = 0 %}
	{% for info in infos %}
		{% for item in info %}
			{% if var == 0 %}
				<p>
					{{item.nom}}
					{{item.prenom}}
					<br/>
					A fait une demande.
				</p>
				<br>
				<p>
					Voici le matériel demandé :
				</p>
				<br/>
			{% endif %}
			<p>
				.{{item.nom_materiel}}
				(caution:{{item.caution}})
			</p>
			{% set var = 1 %}
		{% endfor %}
	{% endfor %}
</body>
