<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		{% set var = 0 %}
		{% for item in infos %}
			{% if var == 0 %}
				<p>
					votre demande du
					{{item.date_debut|date("d-m-Y")}}
					au
					{{item.date_fin|date("d-m-Y")}}
					à été accepté
				</p>
			{% endif %}
			{% set var = 1 %}
		{% endfor %}
	</body>
</html>
