<body>

    <p>
      Bienvenue {{nom}} {{prenom}}, <br />
      votre compte sur la plateforme de Gestion de Materiel viens d'être crée.
    </p>
    <p>
      Voici vos identifiants, vous pourrez modifier votre mot de passe sur votre
      page profile une fois connecté : <br />
      identifiant : {{email}}, <br />
      mot de passe : {{password}}
    </p>
    <p>En cas de soucis avec vos identifiants contactez un administrateur</p>
  
</body>