<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<div class="container-fluid" id="menuAdmin">
			<div class="row flex-nowrap position-relative">
				<div class="col-auto col-3 col-xl-2 p-0">
					<div class="mainSideBar d-flex flex-column align-items-center align-items-sm-start px-2 pt-1 min-vh-100">
						<a href=""><img class="img-fluid rounded-circle border border-2  border-dark " src="../assets/aflokkat.png"></a>
						<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start fw-bold " id="menu">

							{% if user.getStatut == "admin" or user.getStatut == "super_admin" %}
								{% for site in sites %}
									<li class="nav-item">
										<a href="" class="nav-link align-middle px-0">
											<i class="fs-4 bi-house"></i>
											<span class="ms-1 d-none d-sm-inline">Site
												{{site.site}}</span>
										</a>
									</li>
								{% endfor %}
								<li onclick="pageGestionMateriel();">
									<a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-speedometer2"></i>
										<span class="ms-1 d-none d-sm-inline">Inventaire Materiel</span>
									</a>
								</li>
								<li onclick="pageNotificationDemande();">
									<a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-speedometer2"></i>
										<span class="ms-1 d-none d-sm-inline">Demandes et Attributions</span>
									</a>
								</li>
								<li onclick="pageSuiviMateriel();">
									<a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-speedometer2"></i>
										<span class="ms-1 d-none d-sm-inline">Suivi de materiel</span>
									</a>
								</li>
								<li onclick="pageGestionCompte();">
									<a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-speedometer2"></i>
										<span class="ms-1 d-none d-sm-inline">Gestion des Comptes</span>
									</a>
								</li>
							{% endif %}
							{% if user.getStatut != "admin" and user.getStatut != "super_admin" %}

								<li onclick="pageDemande();">
									<a href="#submenu1" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-table"></i>
										<span class="ms-1 d-none d-sm-inline">Demandes</span>
									</a>
								</li>
								<li>
									<a href="#submenu1" class="nav-link px-0 align-middle">
										<i class="fs-4 bi-table"></i>
										<span class="ms-1 d-none d-sm-inline">Contacter Administrateur</span>
									</a>
								</li>
							{% endif %}
						</ul>
						<hr>
						<div class="d-block d-sm-none">
							<a href="" class="d-flex align-items-center text-dark text-decoration-none border border-2 border-dark rounded" id="dropdownMenuUser" data-bs-toggle="dropdown" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownMenuUser">
								{% if user.getStatut == "admin" or user.getStatut == "super_admin" %}
									<li>
										<a class="dropdown-item" href="">Site Bastia</a>
									</li>
									<li>
										<a class="dropdown-item" href="">Site Ajaccio</a>
									</li>
									<li onclick="pageGestionMateriel();">
										<a class="dropdown-item" href="">Inventaire Materiel</a>
									</li>
									<li onclick="pageNotificationDemande();">
										<a class="dropdown-item" href="">Demandes et Attributions</a>
									</li>
									<li onclick="pageGestionCompte();">
										<a class="dropdown-item" href="">Gestion des Comptes</a>
									</li>
								{% endif %}
								{% if user.getStatut != "admin" and user.getStatut != "super_admin" %}
									<li onclick="pageDemande();">
										<a class="dropdown-item" href="#submenu1">Demandes</a>
									</li>
									<li>
										<a class="dropdown-item" href="">Contacter Administrateur</a>
									</li>
								{% endif %}

							</ul>
						</div>
						<hr>
						<div class="dropdown pb-4">
							<a href="" class="d-flex align-items-center text-decoration-none text-white dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle ">
								<span class="d-none d-sm-inline mx-1">{{user.nom}}
									{% if user.statut == "eleve" %}
										{{user.promo}}-{{user.promo +1}}
									{% endif %}
								</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
								<li onclick="pageGestionProfile();">
									<a class="dropdown-item" href="#submenu1">Profile</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li onclick="deconnexion();">
									<a class="dropdown-item" href="">Deconnexion</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="updatePage col-9 col-lg-10" id="page">
					{% block body %}
						{% include "pageGestionProfile.html.twig" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
