<div class="modal-header">
	<h1 class="modal-title fs-5" id="detailMateriel">Detail du materiel</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">type materiel</th>
			<th scope="col">Nom materiel</th>
			<th scope="col">Description</th>
			<th scope="col">Caution</th>

		</tr>
	</thead>
		<tbody>
			{% for item in materiel %}
				<tr>
					<td>{{item.origine_materiel}}</td>
					<td>{{item.nom_materiel}}</td>
					<td>{{item.description}}</td>
					<td>{{item.caution}}</td>
				</tr>
			{% endfor %}
		</tbody>
</table>
<div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>