<form action="javascript:updateProfile();"  id="updateProfileForm" class="text-center m-3">
  <div class="mb-3">
    <label for="inputNom" class="form-label">Nom</label>
    <input
      type="text"
      class="form-control"
      id="Nom"
      aria-describedby="nomHelp"
      value="{{user.nom}}"
    />
    <label for="inputPrenom" class="form-label">Prenom</label>
    <input
      type="text"
      class="form-control"
      id="Prenom"
      aria-describedby="prenomHelp"
      value="{{user.prenom}}"
    />
    <label for="EmailUpdate" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="Email"
      aria-describedby="emailHelp"
      value={{user.email}}
    />
  </div>
  <div class="mb-3 gap-3 d-block d-sm-flex">
    <label for="exampleInputPassword1" class="form-label"
      >Ancien mot de passe</label
    >
    <input type="password" class="form-control" id="PasswordConfirme" />
  </div>
  <div class="mb-3 gap-3 d-block d-sm-flex">
    <label for="exampleInputPassword1" class="form-label"
      >Nouveau mot de passe</label
    >
    <input type="password" class="form-control" id="PasswordUpdate" />
  </div>
  <button type="submit" form="updateProfileForm" class="btn btn-dark">Mettre a jour</button>
</form>

