<form action="javascript:updateImageBanniere();" class="m-5">
	<label for="avatar">Importer une image de Bannière :</label>
	<input id="new_file" class="field" type="file"/>
	<button type="submit" class="btn btn-dark">Valider</button>
</form>
