<div class="modal-header">
	<h1 class="modal-title fs-5" id="detailMateriel">Detail du materiel</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">type materiel</th>
			<th scope="col">Nom materiel</th>
			<th scope="col">Description</th>
			<th scope="col">Caution</th>
			<th scope="col">Enable</th>

		</tr>
	</thead>
	<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
		<tbody>
			{% for item in materiel %}
				<tr>
					<td>{{item.origine_materiel}}</td>
					<td>{{item.nom_materiel}}</td>
					<td>{{item.description}}</td>
					<td>{{item.caution}}</td>
					{% if item.enable == 0 %}
						<td>Fonctionnel</td>
					{% endif %}
					{% if item.enable == 1 %}
						<td>Non fonctionnel</td>
					{% endif %}
				</tr>
			</td>
		</tbody>
	</tr>
{% endfor %}
</tbody>
</div>
</table>
</div>
<div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>