<form action="javascript:addTypeMateriel();">
  <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">ajout type materiel</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
      <label for="inputNom" class="form-label">Nom</label>
      <input type="text" class="form-control" id="Nom" aria-describedby="nomHelp"/>
      <label for="inputPrenom" class="form-label">Icon
          <a target="_blank" href="https://fontawesome.com/icons">site icon</a>
      </label>
      <input type="text" class="form-control" id="Icon" aria-describedby="prenomHelp"/>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" data-dismiss="modal">Ajouter</button>
  </div>
</form>