
<form action="javascript:updateImageProfile();" class="m-5">
  <label for="avatar">Importer une image de profile :</label>
  <input type="file" class="inputFile" id="Avatar" name="avatar" accept="image/png, image/jpeg" />
  <button type="submit" class="btn btn-primary">Valider</button>
</form>
