{% block body %}
	<h3>Date</h3>

	<div class="input-group mb-3">
		<input id="dropper" placeholder="Date" name="dropper" type="text" class="form-input-text__FormInput-sc-xxedi2-0 form-input-text___StyledFormInput-sc-xxedi2-1 dzARff edwdPU" type="text" data-dd-opt-min-date="" data-dd-opt-format="y-mm-dd" data-dd-opt-disabled-week-days="0,6" data-dd-opt-expandable="true" data-dd-opt-start-from-monday="true">
		<div class="input-group-append">
			<span class="inputspan">
				<i class="fa-solid fa-calendar-days"></i>
			</span>
		</div>
	</div>
	<style>
		.edwdPU {
			font-size: 14px;
			border-radius: 6px;
			line-height: 1.5;
			padding: 5px 10px;
			transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
			border: 2px solid #dee1e2;
			color: rgb(14, 14, 16);
			background: #dee1e2;
			width: 200px;
			display: block;
			height:36px;:hover {
				border-color: #ccc;
			}
			:focus {
				border-color: #9147ff;
				background: #fff;
			}
		}
		.fa-calendar-days {
			margin-top: 4px;
		}
		.inputspan {
			font-size: 14px;
			line-height: 1.5;
			padding: 5px 10px;
			transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
			border: 2px solid #dee1e2;
			color: rgb(14, 14, 16);
			background: #dee1e2;
			display: block;
			height:36px;:hover {
				border-color: #ccc;
			}
			:focus {
				border-color: #9147ff;
				background: #fff;
			}
		}
	</style>
	<div id="result_demande"></div>
{% endblock %}
