<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Document</title>
	</head>
	<body>
        <div>
            <form action="javascript:authentification();" class="text-center mb-5 mx-1 mx-sm-1 mx-md-4">
                <label for="Token" class="form-label">Veuillez entrer votre token pour valider la connexion</label>
                <input type="text" class="form-control" id="Token" aria-describedby="nomHelp"/>
                <input type="submit" class="btn btn-primary"  value ="Valider">
            
        </div>
	</body>
</html>