{% block body %}
	<br>
	<div class="input-group mb-3">
		<input id="dropper" placeholder="Date" name="dropper" type="text" class="form-input-text__FormInput-sc-xxedi2-0 form-input-text___StyledFormInput-sc-xxedi2-1 dzARff edwdPU" type="text" data-dd-opt-min-date="" data-dd-opt-format="y-mm-dd" data-dd-opt-disabled-week-days="0,6" data-dd-opt-expandable="true" data-dd-opt-start-from-monday="true">
		<div class="input-group-append">
			<span class="inputspan">
				<i class="fa-solid fa-calendar-days"></i>
			</span>
		</div>
	</div>
	<div id="result_demande"></div>
{% endblock %}
