{% block body %}
	<h3>Date</h3>
	<div class="input-group mt-3">
		<input id="dropper" type="text" data-dd-opt-min-date="" data-dd-opt-format="y-mm-dd" data-dd-opt-disabled-week-days="0,6" data-dd-opt-expandable="true" data-dd-opt-start-from-monday="true">
	</div>
</form>
<script>
	const date = new Date();

let day = date.getDate();
let month = date.getMonth() + 1;
let year = date.getFullYear();

// This arrangement can be altered based on how we want the date's format to appear.
let currentDate = `${year}-${month}-${day}`;
new dateDropper({
selector: 'input[type="text"]',
format: "y-mm-dd",
expandable: true,
range: true,
disabledWeekDays: '0,6',
minDate: currentDate,
lang: 'fr',
startFromMonday: true,
onRangeSet: function (range) {
var start = range.a;
var end = range.b;
var date_debut = (start.y + '-' + start.m + '-' + start.d);
var date_fin = (end.y + '-' + end.m + '-' + end.d);

var field = (start.d + '-' + start.m + '-' + start.y + " // " + end.d + '-' + end.m + '-' + end.y);

$("#dropper").val(field);
pageMatDemande($("#dropper").attr('data-dd-opt-range-start'), $("#dropper").attr('data-dd-opt-range-end'));
console.log(date_debut + ' to ' + date_fin);
}
});
</script>
<div id="result_demande"></div>{% endblock %}
