<div class="col-4 align-self-center position-absolute start-50">
  <form action="javascript:update_user();" class="text-center">
    <div class="mb-3">
      <label for="inputNom" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="NomUpdate"
        aria-describedby="nomHelp"
      />
      <label for="inputPrenom" class="form-label">Prenom</label>
      <input
        type="text"
        class="form-control"
        id="PrenomUpdate"
        aria-describedby="prenomHelp"
      />
      <label for="EmailUpdate" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="EmailUpdate"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 gap-3 d-flex">
      <label for="exampleInputPassword1" class="form-label"
        >Ancien mot de passe</label
      >
      <input type="password" class="form-control" id="PasswordConfirme" />
    </div>
    <div class="mb-3 gap-3 d-flex">
      <label for="exampleInputPassword1" class="form-label"
        >Nouveau mot de passe</label
      >
      <input type="password" class="form-control" id="PasswordUpdate" />
    </div>
    <button type="submit" class="btn btn-primary">Mettre a jour</button>
  </form>
</div>
